@import '../node_modules/litepicker/dist/css/litepicker.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

body {
  overflow: hidden;
  margin: 0px;
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  font-family: 'IBM Plex Sans', sans-serif;
}

p {
  font-size: 0.9rem;
  text-align: center;
}

#canvas {
  position: absolute;
  z-index: -100;
}

/* homepage / universal elements */

.logo {
  position: absolute;
  right: 1vw;
  top: 2vh;
  width: 21vw;
}

.grass-cont > div {
  position: absolute;
  z-index: -8;
}

.page-sign-cont > div {
  position: absolute;
  padding: 1vh 1vw 1vh 1vw !important;
  -webkit-box-shadow: 0 0 9px #ddd;
  box-shadow: 0 0 9px #ddd;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 6vh;
  width: 5vw;
}

.inp-el {
  position: absolute;
  margin-left: 36vw;
  margin-top: 22vh;
  text-align: center;
  font-weight: lighter;
  font-size: 1rem !important;
  padding: 1vh !important;
  -webkit-box-shadow: 0 0 9px #ddd;
  box-shadow: 0 0 9px #ddd;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.header-welcome {
  font-size: 4.3rem !important;
  /* font-weight: bolder !important; */
  position: absolute;
  margin-left: 21vw;
  margin-top: 8vh;
}

/* people section */

.ppl {
  height: 25%;
  width: 36%;
  /* font-size: 2.4rem !important; */
  margin-top: 29vh;
  margin-left: 32vw;
  padding-bottom: 3px;
}

.ppl-msg {
  padding-bottom: 27px;
  padding-top: 3px;
  font-weight: lighter;
  font-size: 1.2rem;
}

.ppl-inp-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding-right: 20%; */
  padding-left: 15%;
  padding-bottom: 5%;
}

.ppl-no {
  margin-right: 30px !important;
  margin-top: 57px !important;
  height: 38px;
  width: 12% !important;
  font-weight: normal;
  font-size: 1.2rem !important;
}

/* date section */

.date-cont {
  height: 36%;
  width: 28%;
  font-size: 2rem;
}

.changing-days {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0.5vh;
  padding-top: 2vh;
}

.day-no {
  float: left;
  font-weight: normal;
  width: 71px;
}

.human-form-day {
  text-align: center;
  font-size: 13px !important;
  padding-top: 0.2vh !important;
}

.calendar {
  font-size: 1.3rem !important;
  width: 100%;
}

.litepicker {
  margin-top: 5px !important;
}

/* map section */

/* .map-cont {
  z-index: 1000;
  width: 100px;
  height: 100px;
}

.mapboxgl-map {
  height: 1000px;
} */

/* .map-cont {
  position: absolute;
  margin: 15vh 20vw 25vh 20vw;
} */

/* vechicle select page */

.v-cont {
  position: absolute;
  width: 50vh;
}

.vechs {
  height: inherit;
}

.car {
  position: absolute;
  width: 390px;
}

.v {
  position: absolute;
}

.mb {
  width: 280px;
  height: 180px;
  bottom: 26vh;
}

.mn {
  width: 380px;
  bottom: 8vh;
}

.cpv {
  bottom: 26vh;
  width: 467px;
}

.manu-facts {
  position: absolute;
  height: 10vh;
  width: 12vw;
  top: 30vh;
  left: 20vw;
}

/* misc */

.hide {
  display: none;
}
