@import '../node_modules/litepicker/dist/css/litepicker.css';

body {
  overflow: hidden;
  margin: 0px;
  background-image: url('../img/bg.jpg');
  background-size: cover;
}

#canvas {
  position: absolute;
  z-index: -100;
}

.inp-cont {
  display: flex;
  flex-direction: row;
}

.ppl {
  position: absolute;
  margin: 20vh 20vw 20vh 20vw;
  /* top: 30%;
  left: 50%;
  transform: translate(-50%, -30%); */
}

.ppl-no {
  float: right;
  height: 20px;
  /* margin-bottom: 5vh !important; */
  /* position: absolute; */

  /* margin-right: 3vw !important;
  margin-top: 3vh !important; */
}

.date-cont {
  margin: 15vh 20vw 25vh 20vw;
}

/* .date-tit {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.day-no {
  width: 18%;
  /* margin-left: 38% !important; */
  float: left;
}

.changing-days {
  display: flex;
  justify-content: center;
}

.litepicker {
  /* display: block !important; */
  margin-top: 5px !important;
  /* margin: 5px 5px 5px 5px !important; */
}

.human-form-day {
  /* width: 50%; */
  text-align: center;
  margin-right: 0px !important;
  /* height: inherit; */
}

/* .map-cont {
  z-index: 1000;
  width: 100px;
  height: 100px;
}

.mapboxgl-map {
  height: 1000px;
} */

.map-cont {
  position: absolute;
}

.hide {
  display: none;
}

.mini {
  float: right;
}

.grass-cont > div {
  position: absolute;
}

.page-sign-cont > div {
  position: absolute;
  padding: 0.3vh !important;
}

.car {
  position: absolute;
}
