@import '../node_modules/litepicker/dist/css/litepicker.css';

body {
  overflow: hidden;
  margin: 0px;
  background-image: url('../img/bg.jpg');
  background-size: cover;
}

#canvas {
  position: absolute;
  z-index: -100;
}

.inp-cont {
  display: flex;
  flex-direction: row;
}

.ppl {
  position: absolute;
  margin: 20vh 20vw 20vh 20vw;
  /* top: 30%;
  left: 50%;
  transform: translate(-50%, -30%); */
}

.ppl-no {
  float: right;
  height: 20px;
  /* margin-bottom: 5vh !important; */
  /* position: absolute; */

  /* margin-right: 3vw !important;
  margin-top: 3vh !important; */
}

.date-cont {
  display: flex;
  flex-direction: column;
}

/* .date {
  width: 100px;
  height: 100px;
} */

.litepicker {
  display: block !important;
}

.hide {
  display: none;
}

.mini {
  float: right;
}

.grass-cont > div {
  position: absolute;
}

.page-sign-cont > div {
  position: absolute;
  padding: 0.3vh !important;
}

.car {
  position: absolute;
}
